.shareButton {
    background-color: var(--Desaturated-Dark-Blue);
    border-radius: 50%;
    width: 5ch;
    height: 5ch;
    display: grid;
    place-content: center;
    transition: 0.4s;
    cursor: pointer;

    img {
        width: 3ch;
        height: 3ch;
    }
}

.shareButton:hover {
    transition: 0.4s;
    background-color: var(--Grayish-Blue);
}

.socialMedias {
    position: relative;
    top: -7rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: .5rem;
    gap: 1rem;
    cursor: pointer;

    p {
        color: var(--Desaturated-Dark-Blue);
    }

    img {
        transition: 0.4s;
    }

    img:hover {
        transition: 0.4s;
        transform: scale(1.1, 1.1);

    }
}


.triangle {
    position: relative;
    width: 0;
    height: 0;
    top: -2rem;
    left: 6.5rem;
    border-style: solid;
    border-width: 20px 17.5px 0 17.5px;
    border-color: var(--Very-Dark-Grayish-Blue) transparent transparent transparent;
}

@media screen and (min-width: 320px) and (max-width: 546px) {
    .socialMedias {
        top: 3rem;
        width: 20rem;
        left: -8rem;
    }

    .triangle {
        border-width: 0 17.5px 20px 17.5px;
        border-color: transparent transparent var(--Very-Dark-Grayish-Blue) transparent;
        top: 3.5rem;
        left: 8.5rem;
    }
}